#inputbox{
    margin: 20px;
    padding: 10px;
    position: relative;
}
#menu{
    position: relative;
    left: 100px;
    bottom: 75px;
    z-index: 100;
}
body { font-size: 100%; }
.background {
    background-color:rgb(255, 245, 236);
    margin: 0;
}
.header{
    display: inline-block;
    align-items: center;
}
.header img{
    width: 20em;
    height: auto;
    align-self: center;
}
.books{
    padding-left: 10%;
    padding-right: 10%;
}
.books > p{
    font-size: 2.4em;
    font-weight:400;
}
.books hr{
    border: none;
    height: 1px;
}
.books div{
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
}
.books a{
    display: inline;
    text-decoration: none;
    color: #3c342e;
    font-size: 1.8em;
    flex-basis: 20%;
    text-align: center;
}
.bookintro{
    display: inline;
    font-size: 0.9em;
    flex-basis: 60%;
    text-align: center;
    border-right: 1px black solid;
    border-left: 1px black solid;
}
.posttime{
    display: inline;
    font-size: 0.9em;
    flex-basis: 20%;
    text-align: center;
}


.content {
    color:rgba(35, 2, 2, 0.898);
    width: 90%;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    top: 10px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3c342e;
    border-radius: 20px;
    z-index: -5;
}
.page{
    position: relative;
    width: 90%;
    background-color: rgba(195, 187, 179, 0.767);
    border-radius:0 0 20px 20px;
    border-bottom: solid 2px #3c342e;
    border-right: solid 2px #3c342e;
    border-left: solid 2px #3c342e;
    padding: 10px;
    padding-left: 30px;
    margin: auto;
    align-items: center;
}
.sticky {
    position: sticky;
    top:0;
}
.page-button {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(93, 84, 71);
    font-size: 24px;
    font-weight: 600;
    width: 50px;
    text-decoration: none;
}
.page-button:hover{
    background-color: #8b8783;
}
.story {
    padding-left:3px;
    color: rgb(42, 36, 28);
    font-size: 24px;
    font-weight: 600;
}

.block {
    position: relative;
    border: 1px dashed #3c342e;
    height: 165px;
    margin: 10px;
    background-color: #b7b1ab;
}
.noveltitle {
    color: #3c342e;
    font-weight: 600;
    font-size: 28px;
    margin: 10px;
    position: relative;
    top: 10px;
}
hr {
    background-color:#3c342e; 
    height:2px; 
    margin: 5px;
    border:none
}
.intro {
    color:rgba(35, 2, 2, 0.898);
    width: 1000px;
    height: auto;
    font-size: larger;
    border: 2px solid #3c342e;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 10px;
    padding: 10px;
}
.intro1 {
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    width: 200px;
    position: relative;
    top:20px;
    left: 10px;
}
span.intro-detail {
    margin: 20px;
    right:10px;
    position:relative;
    top: 10px;
    left: 10px;
}
.chapter {
    width: 95%;
    padding: 10px;
    margin: auto;
    position: relative;
    top:10px;
}
.chapter-select {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 25px;
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: rgb(191, 186, 182);
    border: 0;
    border-radius: 5px;
    position: relative;
    top:-10px;
}
a.chapter-select:hover{
    background-color: #b7b1ab;
}
a.select {
    display: block;
    width: 140px;
    height: 30px;
    border: 0;
    position: relative; 
    border-bottom: rgb(121, 119, 118) 2px solid;
    background-color: rgb(191, 191, 185);
    text-align: center;
    font-size: 22px;
    border-radius:20px;
}
a.select:hover {
    background-color: rgb(226, 221, 215);
}

.sub-word {
    font-weight:400;
    font-size: 36px; 
    position: relative; 
    padding-bottom:10px;
    top: 10px;
    left: 20px;
}

.cha-on {
    margin-left: 5%;
    width: 90%;
    border: solid #645951 3px;
    border-radius: 20px;
}

.post {
    position: relative;
    left: 55px;
    top: 20px;
    width: auto;
    height: auto;
}

.subt{
    color:#5b4535;
    font-size: 18px;
    font-weight: 600;
    background-color: #b7b1ab;
    width: 500px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.but{
    width: 248px;
    height: 40px;
    color: #3c342e;
    background-color: rgb(192, 183, 173);
    border: solid 2px rgb(69, 50, 25);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.but:hover {
    background-color: #b59f8f;
}

/*.bar {
    background-color: #9b9591;
    width: 1500px;
    height: 90px;
}

img{
    position: relative;
    left: 10px;
    top: 5px;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.main{
    width: 120px;
    background-color: #9b9591;
    color: rgb(62, 62, 61);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    border-radius: 20px;
}

.main:hover{
    background-color: rgb(195, 190, 185);  
}

.sub li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:rgb(62, 62, 61);
}

.item{
    float: left;
    margin-left: 10px;
    z-index: 1;
}
*/