{% extends 'base.html' %}
{% block title %}墨語閣{% endblock %}
{% block content %}
    <style>
        a {text-decoration: none; color: #37273eff}
    </style>

    <h1>所有小說</h1>
    <hr>
    {% for book in books %}
        <div class="book-summary">
            <h2><a href="{{ url_for('view_book_toc', book_id=book.id) }}">{{ book.title }}</a></h2>
            <p>作者：{{ book.author or '神秘作家' }}</p>
            <p>{{ book.summary or '不看會後悔！' }}</p>
            <div class="timestamp">建立於：{{ book.created_timestamp }}</div>
            <hr>
        </div>
    {% else %}
        <p>還沒有任何書本，快新增第一本吧！</p>
    {% endfor %}
{% endblock %}